div.bibliography {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}

div.publication {
  position: relative;
}

div.publication a.title {
  font-size: 1.75em;
  line-height: 1.5em;
  color: black;
  text-decoration: none;
}

div.publication a.journal {
  font-size: 1.0em;
  line-height: 1.0em;
  color: #a5a5a5;
  text-decoration: none;
  font-style: oblique;
}


div.publication p.authors {
  font-size: 1.0em;
  line-height: 1.0em;
  color: #a5a5a5;
}

div.publication p.details {
  font-size: 1.0em;
  line-height: 1.0em;
  color: #a5a5a5;
}

hr.sep {
  color: #a5a5a5;
}



